.root {
    -background-color: rgba(240, 235, 242, 0.9);
    -border-color: rgba(160, 160, 160, 0.8);
    -halo-color: rgba(80, 80, 80, 0.8);
    -title-color:  linear-gradient(to bottom, rgb(0, 50, 60), rgb(0, 80, 80));
}

.bonsai-node-background {
    -fx-background-color: -background-color;
    -fx-background-insets: 1;
    -fx-border-width: 0;
}

.titled-node-background:selected {
    -fx-background-color: derive(-background-color, -5%);
}

.bonsai-node-border {
    -fx-stroke: -border-color;
    -fx-stroke-width: 1;
    -fx-stroke-type: inside;
    -fx-fill: null;
    -fx-effect: dropshadow(gaussian, rgb(150, 150, 150), 5, 0, 1, 1);
}

.bonsai-node-selection-halo {
    -fx-stroke: -halo-color;
    -fx-opacity: 0.6;
    -fx-stroke-type: inside;
    -fx-stroke-line-cap: butt;
    -fx-fill: null;
}

.bonsai-node-header {
    -fx-padding: 2 5 2 5;
    -fx-background-color: -title-color;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -border-color;
    -fx-opacity: 0.9;
}

.bonsai-node-title {
    -fx-font-size: 11;
    -fx-text-fill: white;
}

.bonsai-connector-inbound {
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-stroke-type: inside;
    -fx-background-color: grey;
    -fx-opacity: 1;
    -fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.bonsai-connector-success {
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-stroke-type: inside;
    -fx-background-color: limegreen;
    -fx-opacity: 1;
    -fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.bonsai-connector-error {
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-stroke-type: inside;
    -fx-background-color: orangered;
    -fx-opacity: 1;
    -fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.bonsai-connector-fatal {
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-stroke-type: inside;
    -fx-background-color: darkred;
    -fx-opacity: 1;
    -fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}