/* Centered custom quote block */
div.quote {
    background-color: #b6c2c2;
    border: 1px solid #ccc;
    border-left: 4px solid #498ece;
    border-right: 4px solid #498ece;
    background: none;
    padding: 1em 2em;
    margin: 1.5em auto;
    max-width: 70%;
    text-align: center;
    font-size: 1.1em; 
    font-style: italic;
    color: #333;
    box-shadow: none;
    border-radius: 6px;
    max-width: 90%; 
}

div.quote p {
    margin: 0.5em 0;
}
